* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

/*************** HEADER *************/

header {
    background-color: #fff;
    height: 10vh;
    width: 100vw;
    position: fixed;
    box-shadow: 0 1px 3px #000;
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
}

.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.menu ul  {
    height: 100%;
    display: flex;
    gap: 20px;
    font-size: 16px;
}

.menu ul li,
.menu ul li a {
    height: 100%;
}

.menu ul li a i {
    font-size: 20px;
    margin-right: 8px;
    margin-bottom: 3px;
}

.menu ul li a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-top: 8px solid transparent;
}

.menu ul li a:hover {
    border-color: #008b8b;
    background-color: rgba(0, 139, 139, 0.2);
}

.active {
    border-color: #008b8b !important;
    background-color: rgba(0, 139, 139, 0.2);
}

.burger, .close {
    display: none;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 80px;
}

.burger i, .close i {
    font-size: 32px;
    cursor: pointer;
}

/*************** MAIN *************/

#accueil, #a-propos, #contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color:#008b8b;
    /* background-color: #066773; */
    color: #fff;
}

/* Accueil */

.text-accueil {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding-left: 200px;
    margin-right: 100px;
}

.text-accueil h1 {
    font-size: 42px;
}

.text-accueil h2 {
    font-size: 32px;
}

.text-accueil p {
    font-size: 20px;
    line-height: 34px;
}

.text-accueil button {
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text-accueil button:hover {
    opacity: 0.9;
}

.photo-accueil {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* A propos */

.about {
    width: 100vw;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.about-title {
    margin: 30px auto 60px;
    font-size: 32px;
}

.about-content {
    display: flex;
}

.infos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 40px;
}

.infos p {
    line-height: 26px;
    font-size: 16px;
}

.infos button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #008b8b;
    color: #fff;
    cursor: pointer;
}

.infos button:hover {
    opacity: 0.9;
}

.skills {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.skills-title {
    border: 1px solid #000;
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skills-content .content ul {
    display: flex;
}

.card {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.card i {
    font-size: 40px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 5px;
}

.progress {
    width: 100%;
    height: 10px;
    background-color: #efefef;
    border-radius: 5px;
    margin-top: 5px;
}

.progress-bar {
    height: 100%;
    border-radius: 5px;
    background-color: #008b8b;
}

/* Contact */

#contact h2 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
}

#contact form {
    width: 650px;
}

#contact form .first-child {
    display: flex;
    gap: 30px;
}

#contact form div input,
#contact form div textarea
{
    padding: 14px;
    font-size: 18px;
    border: none;
}

#contact form div textarea {
    width: 100%;
    margin-top: 20px;
}

#contact form .first-child input {
    flex: 1;
}

#contact form .last-child {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#contact form .last-child input {
    width: 250px;
    font-size: 20px;
    cursor: pointer;
}

#contact form .last-child input:hover {
    opacity: 0.9;   
}

/*************** FOOTER *************/

footer {
    background-color: #efefef;
}

.sidebar {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
    position: relative;
}

.sidebar div h2 {
    font-size: 26px;
    margin-bottom: 8px;
}

.sidebar div h3 {
    font-size: 24px;
}

.sidebar div ul li {
    line-height: 24px;
}

.meta {
    text-align: center;
    width: 120px;
    position: absolute;
    right: 60px;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icon {
    padding: 8px;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.icon i {
    font-size: 18px;
}

.icon:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

footer hr {
    width: 90%;
    margin: auto;
}

.copyright {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    padding: 20px 40px;
    font-size: 18px;
}

.copyright li {
    display: inline-block;
    margin-left: 14px;
}

.copyright a:hover {
    color: #0000ff;
}

/*************** RESPONSIVE *************/
@media screen and (max-width: 1520px) {
    #a-propos {
        height: auto;
    }

    .about {
        height: 100%;
        margin: 10vh 0;
    }

    .about-title {
        font-size: 34px;
        margin: 40px auto;
    }

    .about-content {
        flex-direction: column;
        gap: 60px;
    }

    .infos {
        gap: 30px;
        margin: 0 80px;
        text-align: center;
    }
    
    .infos p {
        font-size: 18px;
        line-height: 30px;
    }
    
    .infos button {
        padding: 14px;
        font-size: 18px;
    }
    
    .skills {
        margin: 0 80px;
    }
    
    .skills-title {
        padding: 14px 0;
        margin-bottom: 50px;
    }
    
    .skills-content {
        gap: 40px;
    }

    .skills-content .content ul {
        flex-wrap: wrap;
        margin: 20px 0;
    }
    
    .card {
        width: 250px;
    }
}

@media screen and (max-width: 1180px) {
    .text-accueil {
        padding-left: 120px;
    }

    .sidebar div h3 {
        font-size: 20px;
    }

    .meta {
        width: 90px;
    }
    
    .icon {
        padding: 5px;
    }
    
    .icon i {
        font-size: 15px;
    }
}

@media screen and (max-width: 1080px) {
    header {
        padding: 0 80px;
    }
    .text-accueil {
        padding-left: 80px;
    }
}

@media screen and (max-width: 950px) {
    #accueil {
        height: auto;
    }
    
    #accueil .accueil-contact {
        height: 100%;
        margin: 10vh 0;
        flex-direction: column-reverse;
        padding: 80px;
    }
    
    .text-accueil {
        align-items: center;
        gap: 30px;
        text-align: center;
    }
    
    .photo-accueil {
        justify-content: center;
        padding-bottom: 40px;
    }    
}

@media screen and (max-width: 780px) {
    header {
        padding-right: 0;
    }

    .burger {
        display: flex;
    }

    .menu ul {
        width: 40vw;
        height: 100vh;
        background-color: #fff;
        box-shadow: -1px 0 5px #000;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        font-size: 18px;
    }

    .menu ul li,
    .menu ul li a {
        height: 10vh;
    }
    
    .menu ul li a i {
        font-size: 24px;
    }
    
    .menu ul li a {
        justify-content: center;
    }

    #contact {
        height: auto;
    }



    #contact form {
        width: 380px;
    }

    #contact .accueil-contact {
        height: 100%;
        margin: 10vh 0;
        padding-bottom: 30px;
    }

    #contact form .first-child {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    #contact h2 {
        padding: 30px 0;
        margin-bottom: 30px;
    }
    
    #contact form div textarea {
        width: 100%;
        margin-top: 20px;
    }
    
    #contact form .last-child input {
        width: 180px;
        font-size: 18px;
    }
}
